---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Foot from '../components/Footer.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "Francis",
  country: "Kenya",
  occupation: "Software Developer",
  hobbies: ["Coding", "Writing", "Reading", "Gaming"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const skillColor = "red";
---

<Layout title="Welcome to Astro.">
	<div class="container">
		<h2 class="about-h1">About Me</h2>
		<p>
			Hi, I'm {identity.firstName}. I live in {identity.country} and I'm a {identity.occupation}. I like {identity.hobbies.join(', ')}.
		</p>
		<h2 class="about-h1">Skills</h2>
		<ul class="about-ul">
			{skills.map((skill) => (
				<li class="about-li">{skill}</li>
			))}

		
	</div>
	<a href="/about" class="about-a">About Me</a>

	<Foot />
</Layout>

<style define:vars={{skillColor}}>

	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	
	}
	.about-h1 {
		font-size: 2rem;
	}
	.about-a {
		font-size: 1.5rem;
		text-decoration: none;
		color: #fff;
		background-color: #000;
		border: 1px solid #000;
		margin-bottom: 2rem;
		cursor: pointer;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;	
		

	}

	.about-a:hover {
		border: 1px solid #fff;
		box-shadow: 0 0 10px #ff0303;
		 animation: slideup 1s ease-in-out;

	}

 @keyframes slideup {
  0% {
	transform: translateY(0);
  }
  50% {
	transform: translateY(-10px);
  }
  100% {
	transform: translateY(0);
  }
}
	

	@media (max-width: 600px) {
		main {
			font-size: 18px;
		}
		h1 {
			font-size: 3rem;
		}
	}

	h1{
		color: #fff;
	}

	.container {
		display: flex;
		flex-direction: column;
		margin:  10rem;
		
		align-items: center;
		justify-content: center;
	}

	.about-ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		color: var(--skillColor);
	}

	.about-li {
		font-size: 1.5rem;
	}
</style>
